.creations {
  padding: 96px 0;
  height: 100%;
}

.creations-gallery {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  padding: 0 24px;
}

.creations-header h2 {
  font-size: 36px;
  margin-bottom: 8px;
}

.creations-gallery img {
  width: 300px;
  border-radius: 16px;
}
