.creations {
  padding: 96px 0;
  height: 90vh;
}

.creations-gallery {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  padding: 0 24px;
}

.creations-gallery img {
  width: 300px;
  border-radius: 16px;
}
